#header {
    display: inline-block;
    text-align: center;
    width: 100%;

}

#tableButton {
    width: 100%;

}

#note {
    font-size: 35px;
}
#formContainer {
    text-align: center;
}

#form {
    width: 80%;
    display: inline-block;

}

#table {
    margin-left: 30px;
}

#homeTable {
    margin-left: 40px;
}

#homeRes {
    margin-left: 40px;

}

#cardWrap {
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: gray;
}

#resHeader {
    margin-bottom: 20px:
}